/* colors */
:root {
  --bg-body: #FAF7F5;
  --bg-sidebar: #FFFFFF;
  --bg-card: #FFFFFF;
  --bg-hover: #F2F0EB;
  --text-main: #000000;
  --text-muted: #777777;
  --border: #E0E0E0;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  --accent: #E7965C;
  --accent-hover: #d67c56;
  --success: #4CAF50;
  --danger: #FF5252;
  --border-radius: 12px;
}

body.dark-theme {
  --bg-body: #191414;
  --bg-sidebar: #231E1E;
  --bg-card: #2C2525;
  --bg-hover: #3A3232;
  --text-main: #FFFFFF;
  --text-muted: #AAAAAA;
  --border: #3E3434;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#side-panel {
  flex: 0 0 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--bg-sidebar);
}

#side-panel h2 {
  color: var(--accent);
  width: 100%;
}

#side-panel .qrcode-wrapper {
  background-color: var(--bg-body);
  border-radius: var(--border-radius);
  padding: 1.2rem;
  text-align: center;
  border: 3px dotted var(--border);
  width: 100%;
}

#side-panel .label {
  margin-top: 0.2rem;
  font-size: 1rem;
  color: var(--text-muted);
}

#side-panel .ip-address {
  margin-top: 0.2rem;
  font-family: monospace;
  font-size: 1.4rem;
  color: var(--accent);
}

#side-panel img {
  max-width: 180px;
  border-radius: 4px;
}

#side-panel menu {
  list-style: none;
  width: 100%;
}

#side-panel li {
  padding: 0.85rem 1.5rem;
  color: var(--text-muted);
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius)
}

#side-panel .menu-item:hover:not(.active) {
  background-color: var(--bg-hover);
  color: var(--text-main);
}

#side-panel .active {
  background-color: var(--accent);
  color: white;
}

#side-panel .active:hover {
  background-color: var(--accent-hover);
}

.version {
  margin-top: auto;
  color: var(--text-muted);
  font-size: 0.8rem;
}



#main-view {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}