* {
	box-sizing: border-box;
	font-family: system-ui, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

body {
	background: #f4f4f4;
	max-width: 100vw;
	height: 100vh;
	margin: auto;
	background: white;
	border: 1px solid #ddd;
	display: grid;
	grid-template-columns: 35ch 1fr;
	overflow: hidden;
}

/* ========== SIDEBAR ========== */

.sidebar {
	border-right: 1px solid #ddd;
	padding: 20px;
	background-color: #eee;
	overflow: hidden;
}

.sidebar h3 {
	margin-top: 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

/* Form */

.field {
	margin: 15px 0;
}

.field label {
	font-size: .82rem;
	color: #555;
	display: block;
	margin-bottom: 4px;
}

.input-row {
	display: flex;
	gap: 8px;
}

input[type="text"] {
	flex: 1;
	padding: 6px 8px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

#rename-save-btn {
	background: #51cf66;
	border: none;
	padding: 6px 12px;
	cursor: pointer;
}

.checkbox-row {
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 6px 0;
}

/* QR */

.qr-box {
	margin-top: 25px;
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 1rem;
	color: #666;
}

.qr-box img {
	width: 120px;
}

/* ========== MAIN PANEL ========== */

#main {
	padding: 35px;
	overflow-y: auto;
}

/* Header */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title h1 {
	margin: 0;
}

.subtitle {
	font-size: 1rem;
	color: #666;
}

.actions button {
	margin-left: 8px;
}

/* Buttons */

.btn {
	border: 1px solid #888;
	padding: 7px 12px;
	font-size: 1rem;
	cursor: pointer;
}

.btn-danger {
	background: #ff6b6b;
}

.btn-success {
	background: #51cf66;
}

.btn-light {
	background: #e9ecef;
}

/* Section */

.section {
	margin-top: 25px;
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px dashed #ccc;
	padding-top: 15px;
	margin-bottom: 10px;
}

.section-header h3 {
	margin: 0;
}

/* Cards */

.card {
	border: 1px solid #888;
	padding: 15px 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.card-left {
	display: flex;
	align-items: center;
	gap: 12px;
}

.remove {
	color: #888;
	cursor: pointer;
}

/* Device */

.device-name {
	font-weight: 600;
	font-size: 1rem;
}

.device-meta {
	font-size: 1rem;
	color: #777;
}

.status {
	font-size: 1rem;
	color: #888;
	margin-right: 8px;
}

.mic {
	background: #51cf66;
	border: none;
	width: 34px;
	height: 34px;
	cursor: pointer;
}

/* Recording */

.play {
	background: #51cf66;
	border: none;
	width: 34px;
	height: 34px;
	cursor: pointer;
}

.record-meta {
	font-size: 1rem;
	color: #777;
}

.icon-btn {
	border: 1px solid #ccc;
	background: white;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-left: 5px;
}